@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ------- General ------------- */
* {
    margin: 0;
}
img {
    max-height: 100%;
    max-width: 100%;
}
body {
    font-family: 'Poppins', serif;
    font-size: 16px;
}
.btn {
    padding: 10px 30px;
    font-size: 1.3rem;
    background-color: #387ed1;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1.5rem;
}
.btn:hover {
    background-color: #3f3f3f;
}
/* ************** Header *************** */
header {
    display: flex;
    padding-inline: min(100px, 10vw);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 2px rgb(250, 215, 215);
    margin: 0;
    font-size: 0.9rem;
}
#header-logo {
    width: 150px !important;
    height: auto;
    max-height: 100px;
    vertical-align: middle;
}
nav {
    display: flex;
    gap: 10px;
    align-items: center;
}
nav div {
    color: #666;
    padding: 20px;
    cursor: pointer;
}
nav div:hover {
    color: #387ed1;
}

/* ====================== MAIN - PART ====================== */

/* *************** Landing Page ****************** */
#landing-page {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landing-pic {
    max-width: 600px;
    height: auto;
    max-height: 45vh;
    margin-bottom: 2rem;
}
#landing-page div:nth-child(2) h1 {
    font-size: 2.75rem;
    line-height: 1.75rem;
    font-weight: 500;
    color: #3f3f3f;
    margin-top: 3rem;
}
#landing-page div:last-child {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#landing-page div:last-child p {
    margin: 1rem 0 2rem;
    font-size: 1.5rem;
}